.filters {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  align-items: center;
}

.summary {
  margin-top: 16px;

  .mat-mdc-card {
    height: 85px;
  }
}

.big {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.profit {
  color: #2e7d32;
  font-weight: 500;
}

.table-card {
  margin-top: 16px;
}

.card-content {
  height: 30px;

  h3 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
  }
}