.shell {
  height: 100vh;
}

.sidenav {
  width: 260px;

  .nav-item {
    .mdc-list-item__primary-text {
      display: flex !important;
    }

    mat-icon {
      font-size: 20px !important;
    }
  }
}

.topbar .title {
  font-weight: 500;
}

.spacer {
  flex: 1;
}

.company-info {
  margin-right: 16px;
  font-size: 14px;
  font-weight: 500;
}

.user-info {
  margin-right: 12px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.content {
  min-height: calc(100vh - 64px);
}

a.active {
  background: rgba(0, 0, 0, 0.08);
}


:host ::ng-deep {
  .mdc-list-item__primary-text {
    display: flex !important;
    gap: 12px !important;
  }
}
