.search-row {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr;
}

@media (min-width: 700px) {
  .search-row {
    grid-template-columns: 2fr 1fr;
  }
}

.header-card {
  margin-bottom: 10px !important;
}

.category-name {
  font-size: 11px;
}