h1 {
  margin-bottom: 16px;
}

.alert-card {
  margin-bottom: 16px;
  background: #fff8e1;
  width: 62%;
  padding: 10px;
}

.pos-layout {
  display: flex;
  gap: 16px;

  app-ventas-search {
    width: 40%;
  }

  app-ventas-cart {
    width: 60%;
  }
}

@media (min-width: 900px) {
  .pos-layout {
    grid-template-columns: 1fr 1fr;
  }

  .tabs-mobile {
    display: none;
  }
}

@media (max-width: 899px) {
  .pos-desktop {
    display: none;
  }
}
